.nav{
  display: flex;align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(106, 106, 179);
  color: bisque;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}