
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: green;
}

.btn {
  width: 500px;
  height: 500px;
  background-color:#dada;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
 
  border-radius: 5px ;
  padding: 20x;
}
.parent{
  height: 100vh;
  display: flex;
margin-top: 90px;
  justify-content: center;
}

.button{
  padding: 10px 20px;
  margin: 20px;
}